@model Tarefa

<h1>Detalhes da Tarefa</h1>

Id: @Model.TarefaId
<br />
Nome da Tarefa: @Model.NomeTarefa
<br />
Categoria da Tarefa: @Model.CategoriaId
<br />
Descrição da Tarefa: @Model.Descricao
<br />
Data de Início: @Model.DataDeInicio
<br />
Data de Término: @Model.DataDeVencimento
<br />
Status da Tarefa: @Model.Status
<br />
<a href="~/Tarefa" class="btn btn-dark">Voltar para Tarefa</a>

